@import url('reset.css');

body{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  background: url(../img/html_bg.png), linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,23,42,1) 35%, rgba(70,0,156,1) 100%);
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
}

*{
  box-sizing: border-box;
}

a{
  color: white;
  text-decoration: none;
}

input, textarea, button{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

:root{
  --pri-color: #c30d22;
}

.block-title{
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  margin: 0 10px;
  font-weight: 600;
}

.add-new{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 60px;
  height: 60px;
  right: 30px;
  bottom: 50px;
  line-height: 1;
  font-size: 32px;
  z-index: 100;
  background-color: var(--pri-color);
  color: white;
  border-radius: 50%;
}

/* ------------------- Header ------------------- */
header{
  width: 100%;
  height: 70px;
  background: linear-gradient(-45deg, rgba(2,0,36,1) 0%, rgba(23,23,42,1) 35%, rgba(70,0,156,1) 100%);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  z-index: 9999;
}

header img{
  display: block;
  height: 40px;
}

header i{
  font-size: 24px;
}

header i:first-of-type{
  margin-left: auto;
  margin-right: 30px;
}

/* ------------------- Player ------------------- */
.player{
  background-color: #fff;
  background-image: linear-gradient(#fff 0%, #fff 80%, #e5e5e5 100%);
  border-radius: 10px;
  color: #333;
  display: flex;
  padding: 10px;
  align-items: center;
  position: fixed;
  bottom: -80px;
  left: 10px;
  z-index: 100;
  width: calc(100vw - 20px);
  box-shadow: 0 0 5px 3px rgba(0,0,0,.5);
  transition: .5s;
}

.player-cover{
  width: 50px;
  margin-right: 20px;
}

.player-wave{
  margin-left: auto;
  display: flex;
}

.player-wave img{
  height: 30px;
}

.player-wave img:first-child{
  margin-right: -5px;
}

.player-info{}

.player-info h3{
  font-weight: 600;
}

.player-info p{
  font-size: 13px;
  color: #999;
}

.player i{
  font-size: 32px;
  margin-left: 10px;
}




/* ------------------- Main ------------------- */
main{
  margin-top: 80px;
  padding-bottom: 80px;
}

.event-ad{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 250px;
  position: relative;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,.7), transparent), url(../img/event.jpg);
  background-size: cover;
  text-decoration: none;
  padding: 20px;
  margin: 0 10px 20px;
}

.event-ad i{
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  font-size: 24px;
  text-shadow: 0 0 3px black;
  opacity: .5;
}

.event-ad h3{
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0 0 3px black;
}

.event-ad p{
  font-size: 13px;
}

/* ------------------- List 1 style ------------------- */
.list1{
  display: flex;
  padding: 20px;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 20px;
}

.list1::-webkit-scrollbar{
  display: none;
}

.list1 li{
  margin-right: 20px;
}

.list1 a{
  display: block;
  position: relative;
}

.list1 i{
  font-size: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--pri-color);
  text-shadow: 0 0 3px black;
}

.list1 img{
  display: block;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.list1 h3{
  text-align: center;
}

/* ------------------- List 2 style ------------------- */
.list2{
  display: flex;
  padding: 20px;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 20px;
}

.list2::-webkit-scrollbar{
  display: none;
}

.list2 li{
  margin-right: 20px;
}

.list2 a{
  display: block;
  position: relative;
  background-color: #fff;
  border: 3px solid white;
}

.list2 h3{
  color: #333;
  font-weight: 600;
}

.list2 p{
  color: #999;
  font-size: 13px;
  text-align: center;
}

.list2 i{
  font-size: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--pri-color);
  text-shadow: 0 0 3px black;
}

.list2 img{
  display: block;
  width: 150px;
  border-radius: 50%;
}

.list2 h3{
  text-align: center;
}

.square-image img{
  border-radius: 0;
}





/* ============================== Content Page =================================== */
.content{
  margin-top: 0;
}

.content-video{
  background-color: rgba(0,0,0,.5);
  padding: 50px 0 30px;
  margin-top: 70px;
}

.content-video img{
  display: block;
  width: 200px;
  margin: 0 auto;
}

.content-video ul{
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 0;
}

.content-video li{}

.content-video i{
  font-size: 42px;
}


/* title */
.con-title{
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 20px;
}

.con-title h2{
  font-size: 24px;
  font-weight: 600;
}

.con-title p{
  color: #999;
}

/* user */
.con-user{
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.con-user img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid white;
  box-shadow: 0 0 3px black;
  box-sizing: content-box;
}

.con-user h3{
  font-size: 18px;
  font-weight: 600;
}

.con-user span{
  line-height: 1;
}

.con-user i{
  margin-left: auto;
  font-size: 24px;
}

/* btn list */
.con-btns{
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  height: 80px;
  margin-bottom: 20px;
}

.con-btns li{
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
}

.con-btns li:not(:last-child){
  border-right: 1px solid #e5e5e5;
}

.con-btns a{
  flex-grow: 1;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.con-btns i{
  font-size: 24px;
  margin-bottom: 10px;
}

.con-btns b{
  font-size: 13px;
}

/* Current Price */
.con-price{
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 20px;
}

.con-price h2{
  flex-basis: 100%;
}

.con-price i{
  font-size: 32px;
  margin-right: 10px;
}

.con-price p{
  font-size: 32px;
  margin-right: 10px;
}

.con-price span{
  color: #999;
  margin-left: auto;
}

/* buy button */
.con-buy{
  background-color: var(--pri-color);
  border: 0;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  display: block;
  width: calc(100% - 20px);
  height: 60px;
  margin: 0 auto 20px;
}

/* Comments */
.comments{
  padding: 10px;
}

.com-item{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}

.com-item img{
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.com-item div{}

.com-item h3{
  font-weight: 600;
  margin-bottom: 10px;
}

.com-item span{
  color: #ccc;
  font-size: 13px;
  float: right;
}

.com-item p{}

/* ============================== Upload Page =================================== */
.upload{
  margin-top: 80px;
}

/* File upload */
.file-upload-block{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.file-upload-btn{
  display: block;
  width: 40%;
  height: 40px;
  background-color: var(--pri-color);
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
}

.file-upload-block p{
  width: calc(60% - 10px);
  height: 40px;
  line-height: 40px;
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Image upload */
.img-upload-block{
  margin-bottom: 20px;
}

.img-upload{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 1px dashed #e5e5e5;
  background-color: #f6f6f6;
  text-align: center;
  line-height: 200px;
  color: #999;
}

.img-upload img{
  max-width: 100%;
  max-height: 100%;
}

/* Description */
.des-block{
  margin-bottom: 20px;
}

.des-title{
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.des-block textarea{
  display: block;
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

.des-block ::placeholder{
  color: #ccc;
}

/* Price */
.upload-price{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.upload-price i{
  font-size: 24px;
  margin-right: 10px;
}

.upload-price input{
  width: 200px;
  flex-grow: 1;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
}

.upload-price span{
  color: #999;
  margin-left: 20px;
}

.upload-submit{
  background-color: var(--pri-color);
  color: white;
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 10px;
  margin-top: 20px;
}

/* Send Button */
.upload-submit i{
  margin-right: 10px;
}
















